<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Speed Game</title>
    <link rel="stylesheet" href="{% static 'assets/css/common_styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/typing_speed.css' %}">
</head>
<body>
    <div class="game-container">
        <h1>Typing Speed Game</h1>
        <p id="wordDisplay"></p>
        <input type="text" id="wordInput" placeholder="Type the word here..." autofocus>
        <div class="stats">
            <p>Time Left: <span id="timeLeft">60</span>s</p>
            <p>Score: <span id="score">0</span></p>
        </div>
        <button class="start-button" id="startGame">Start Game</button>
    </div>
      <div id="Messages" class="congrats hidden"></div>
    <script src="{% static 'assets/js/typing_speed.js' %}"></script>
</body>
</html>